*{
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    font-family: 'Inconsolata', monospace;
    background-color: aliceblue;
}

.main {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: #100720;
    height: 60px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}